
/*Animaciones*/
.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.scale-up-tl {
	-webkit-animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.scale-up-bottom {
	-webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/*--KeyFrames--*/
@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(90px);
              transform: translateX(90px);
    }
}
@keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(90px);
              transform: translateX(90px);
    }
}


@-webkit-keyframes scale-up-tl {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	  -webkit-transform-origin: 0% 0%;
			  transform-origin: 0% 0%;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 0% 0%;
			  transform-origin: 0% 0%;
	}
}
  @keyframes scale-up-tl {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	  -webkit-transform-origin: 0% 0%;
			  transform-origin: 0% 0%;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 0% 0%;
			  transform-origin: 0% 0%;
	}
}

@-webkit-keyframes scale-up-bottom {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	}
}
  @keyframes scale-up-bottom {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	}
}